@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);

  --light-grey: hsl(204, 43%, 93%);
  --greyish-blue: hsl(218, 22%, 67%);
}

html,
body {
  background-color: var(--light-grey);
  height: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
}

.container {
  max-width: 20rem;
  background-color: white;
  margin: 0 auto;
  width: 100%;
  border-radius: 5px;
}

.first,
.second,
.third {
  padding: 1.5rem;
}

.join,
.subscription,
.why-us {
  font-weight: 700;
}

.join {
  color: var(--cyan);
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.guarantee {
  color: var(--bright-yellow);
  margin-bottom: 1rem;
  font-size: 1rem;
}

.desc-first {
  color: var(--greyish-blue);
  line-height: 2;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.second {
  background-color: var(--cyan);
  color: white;
}

.subscription {
  font-size: 1.125rem;
}

.pricing {
  display: grid;
  grid-template-columns: min-content max-content;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
  font-weight: 700;
  grid-column: 1;
  margin-right: 1rem;
}

.per-month {
  grid-column: 2;
  display: flex;
  justify-items: flex-start;
  align-items: center;
  color: rgba(229, 239, 245, 0.8);
}

.desc-second {
  margin-bottom: 2rem;
}

.sign-up {
  background-color: var(--bright-yellow);
  border: none;
  padding: 1rem;
  width: 100%;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-weight: 700;
}

.third {
  background-color: rgba(42, 178, 175, 0.9);
  color: white;
  border-radius: 0px 0px 5px 5px;
}

.why-us {
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

.reasons li {
  color: rgba(229, 239, 245, 0.8);
  font-size: 0.875rem;
  line-height: 1.5;
}

.reasons {
  list-style-type: none;
}

@media screen and (min-width: 50rem) {
  .container {
    max-width: 40rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .first {
    grid-column: span 2;
  }

  .second,
  .third {
    grid-row: 2;
  }

  .first,
  .second,
  .third {
    padding: 2.5rem;
  }

  .second {
    border-radius: 0px 0px 0px 5px;
  }

  .third {
    border-radius: 0px 0px 5px 0px;
  }

  .join {
    font-size: 1.5rem;
  }

  .guarantee {
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
  }

  .desc-first {
    font-size: 1rem;
    margin-bottom: 0;
  }

  .reasons {
    margin-bottom: 0;
  }
}
